.top-header .logo {text-align: center;border: 1px solid #fff;height: 60px;padding-top: 10px;}
.top-header .logo a {font-size: 20px;font-family: 'Anton';}
.top-header .logo a span {display: block;letter-spacing: 0.25em;}
.top-header .menu {margin-top: 35px;}

.menu nav ul li {padding-bottom: 15px;}
.menu .menu-right {float: right;}
.menu .menu-right a {margin-left: 10px;}
.menu .menu-right a:hover {color: #fff}

.header-section {
    background: url(../images/bg/bg_visual.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-section {padding-top: 120px;padding-bottom: 40px;}

@media (max-width: 767px) {
    .top-header .mean-container a.meanmenu-reveal {
        top: -70px;
    }
}

a.button.button-black {background: #4a4a4a;text-align: center;}
a.button.border_radius.button-black:hover,
a.button.border_radius.button-black:focus,
a.button.border_radius.button-black:active {background: #333;color: #fff;}
a.button.border_radius.button-black.on{background: #44b272;}

.select-book::before {content: "\f078"; font-family: "Font Awesome 5 Free"; font-weight: 900;}

.booking-box .btn-list {margin-bottom: 25px;}

.booking-box .hotel-srch {display: none;}

.top-header.sticky .menu li {margin-top: 0;}

.booking-form .select-book:before {right: 25px;top: 15px}
.booking-form .select-book .select-booking button {height: 45px;}
.booking-form .travel-city input {background: rgba(68, 178, 119, 0.5) none repeat scroll 0 0 ; border: none; color: #fff;}
.booking-form .travel-city input::placeholder{color: #fff}
.booking-form .b-date i {right: 20px;}

.about-section .section-title > h2::after {left: 50%;margin-left: -23px;}
.about-section .about-chondo {height: 400px;background-color: #e2e2e2; line-height: 400px;}
.about-section .about-chondo img {max-height: 360px}
.section-title > h2 {line-height: 1.125}

.staff-title .fas {display: inline-block; color: #fff;border: 2px solid #fff; border-radius: 50%; padding: 2px;}
.staff-hover-desc:after {content: "-";font-size: 20px;line-height: 10px;}

.main-board-list .section-title {text-align: center;}c
.main-board-list table th {text-align: center; background-color: #777; color: #fff; font-size: 20px;}
.main-board-list table th:first-child,
.main-board-list table th:last-child {width: 200px;}
.main-board-list table td {font-size: 16px;}
.main-board-list table td:first-child {text-align: center;}
.main-board-list table td:last-child {text-align: center;}

.copyright {background-color: #eaeaea;text-align: center;}
.copyright p {font-size: 16px;color: #000;}

.wrapper{position: relative; min-height: 100%;}
.margin-bottom{margin-bottom: 100px;}
.margin-top{margin-top: 100px;}
.margin-bottom-50{margin-bottom: 50px;}
.margin-top-50{margin-top: 50px;}

