@charset "UTF-8";
.write-form {position: relative;/* padding-top: 60px; */}
.write-form .text-green {color: #44b272;}
.write-form .text-white {color: #fff;}
.write-form.w_600 {width: 600px;margin: 0 auto;}
.write-form.w_800 {width: 800px;margin: 0 auto;}
.write-form .loading {display: none;position: absolute; top: 50%; left: 50%;}
.write-form h2 {color: #fff;padding-bottom:12px}
.write-form h3,h1 {color: #fff;}
.write-form li {padding-bottom: 12px;}
.write-form label {color: #44b272;padding-bottom: 8px;margin-bottom: 0;}
.write-form li input {background-color: rgba(0,0,0,.4);color: #44b272;font-weight: 900;border: 1px solid #44b272;line-height: 45px;}
.write-form li input::placeholder {color: #44b272;}
.write-form li input[type="file"] {height: auto; line-height: 1;padding-left: 0;padding-top: 10px;padding-bottom: 10px;}
.write-form input {background-color: rgba(0,0,0,.4);color: #44b272;font-weight: 900;border: 1px solid #44b272;line-height: 45px;}
.write-form input::placeholder {color: #44b272;}
.write-form .search-sth {position: relative;}
.write-form .search-sth label {display: block;width: 100%;}
.write-form .search-sth input {display: inline-block;width: calc(100% - 70px);vertical-align:middle;}
.write-form .search-sth .btn {display: inline-block;width: 70px;height: 45px;margin-left: -4px;line-height: 45px;vertical-align:middle;}
.write-form .thumb-box {display: none;text-align: center;padding-top:10px;padding-bottom: 24px;}
.write-form .thumb-box img {max-height: 160px;}

.write-form section {padding-top: 40px;}
.write-form section:before {display: table;content: '';clear: both;}
.write-form h4 {color: #fff;padding-bottom: 10px;}
.write-form section .divn_3 {width: calc(33.33% - 10px);float: left;margin-right: 10px;}
.write-form section .divn_3:last-child {width: 33.33%;margin-right: 0px;}
.write-form h5 {color: #fff;border-bottom: 1px solid #fff;font-weight: normal;}
.write-form section p {color: #fff;}
.write-form section select {background-color: rgba(0,0,0,.4);color: #44b272;}

.write-form .btn-submit {text-align: center;padding-top: 40px;padding-bottom: 60px;}
.write-form .btn-submit .btn {width: 120px;height: 45px; line-height: 45px; display: inline-block;margin-right: 10px;}
.write-form .btn-submit .btn:last-child {margin-right: 0}
.btn.btn-ok {background-color: #44b272; border: 1px solid #4a4a4a; color: #fff;}
.write-form .btn.btn-confirm {height:40px; background-color: #44b272; border: 1px solid #4a4a4a; color: #fff;padding-top: 1px;}
.btn.btn-small {height:30px; background-color: #44b272; border: 1px solid #44b272; color: #fff;}
.btn-ok:hover {background-color: rgba(0,0,0,.4); color: #fff;}
.btn-small:hover {background-color: rgba(0,0,0,.4); color: #fff;}

/* .write-form table {border: 2px solid #44b272;} */
/* .write-form table tr{background-color: rgba(0,0,0,0.1); color:#44b272;} */
.write-form table tr:nth-child(odd){background-color: rgba(0,0,0,.4); border-top:2px solid rgba(0,0,0,0.0);}
.write-form table tr:nth-child(even){background-color: rgba(0,0,0,.4);border-top:2px solid rgba(0,0,0,0.0);}
.write-form table tr th,td{padding: 13px;}
.write-form table tbody tr th,td{text-align:center; width: 120px;}
/* .write-form table tbody tr td{text-align:center; width: 100px;} */
.write-form table th{ color: #44b272; padding-top: 8px;}
.write-form table tbody tr td{ color: #fff; vertical-align: middle;}

.write-form .hello-form{margin-top: 100px;}
