<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.hotel.dao.HotelMapper">

	<select id="selectHotelList" parameterType="map" resultType="hotelCommand">
		SELECT
			DISTINCT ST_ID,
			ST_NM,
			NC_CD,
			ST_TYPE,
			ST_ADDR,
			ST_CVNTL,
			ST_CONTENT,
			ST_CHECK_IN,
			ST_CHECK_OUT
		FROM 
			STAYING_VW 
		WHERE 
			(NC_CD = #{hotel_nc} or 'ALL' = #{hotel_nc}) AND 
			(ST_TYPE = #{hotel_type} or 'ALL' = #{hotel_type}) AND 
			SR_MAX_PP >= #{hotel_adult} + #{hotel_kid} 
		ORDER BY ST_ID
	</select>
	 
	<select id="selectHotelListRow" parameterType="map" resultType="integer">
		SELECT 
			COUNT(DISTINCT ST_ID)
		FROM 
			STAYING_VW  
		WHERE 
			(NC_CD = #{hotel_nc} or 'ALL' = #{hotel_nc}) AND 
			(ST_TYPE = #{hotel_type} or 'ALL' = #{hotel_type}) AND 
			SR_MAX_PP >= #{hotel_adult} + #{hotel_kid}
	</select>

	<select id="selectRoomList" parameterType="integer" resultType="hotelVwCommand">
		SELECT * FROM STAYING_ROOM WHERE ST_ID = #{st_id} ORDER BY SR_ID
	</select>
	 
	<select id="selectRoomListRow" parameterType="integer" resultType="integer">
		SELECT COUNT(*) FROM STAYING_ROOM WHERE ST_ID = #{st_id}
	</select>
	
	<select id="selectCvntlList" resultType="cvntlInfoCommand">
		SELECT *
		FROM CVNTL_INFO
		WHERE CVNTL_ID in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
		ORDER BY CVNTL_ID
	</select>
	
	<insert id="hotelRsrv" parameterType="map" statementType="CALLABLE">
		{
			CALL SP_HOTEL_RSRV(
				#{p_sr_id},
				#{p_user_id},
				#{p_total_pc},
				#{p_check_in_dt},
				#{p_check_out_dt},
				#{p_srl_nm},
				#{p_srl_email},
				#{p_srl_phone},
				#{p_srl_adult_pp},
				#{p_srl_kid_pp},
				#{p_num},
				#{p_pin_num},
				#{p_year},
				#{p_month}
			)
		}
	</insert>

</mapper>