<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.itemReview.dao.ItemReviewMapper">


	<!-- 후기 목록 -->
 	<select id="selectListReview" resultType="itemReviewCommand">
 		SELECT
 		   ir_num,
 		   ir_content,
 		   ir_reg_date,
 		   ir_star,
 		   user_id,
 		   i_num
 		FROM item_review 
 		ORDER BY ir_reg_date     
 	</select>
</mapper>