<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.flight.dao.FlightMapper">

	<select id="selectFlightList" parameterType="map" resultType="flightCommand">
		SELECT
		   *
		FROM (SELECT
		        a.*,
		        rownum rnum
		      FROM (select * from flight_info_vw
		      
		        <trim prefix="WHERE" prefixOverrides="AND |OR ">
					<if test="keyword != '' and keyfield == 'fi_nm'">
						fi_nm like '%' || #{keyword} || '%'
					</if>
					<if test="keyword != '' and keyfield == 'fsi_start_city'">
						fsi_start_city like '%' || #{keyword} || '%'
					</if>
					<if test="keyword != '' and keyfield == 'fsi_arrive_city'">
						fsi_arrive_city like '%' || #{keyword} || '%'
					</if>
					<if test="keyword != '' and keyfield == 'all'">
						fi_nm like '%' || #{keyword} || '%' or
						fsi_start_city like '%' || #{keyword} || '%' or
						fsi_arrive_city like '%' || #{keyword} || '%'
					</if>
					
					<if test="flight_s_nc != 'ALL'">
						FSI_START_PLACE = '' || #{flight_s_nc} || ''
					</if>
					<if test="flight_a_nc != 'ALL'">
                        AND FSI_ARRIVE_PLACE = '' || #{flight_a_nc} || ''
					</if>
					
					<if test="start_dt != ''">
                      AND substr(fsi_start_dt,1,10) = '' || #{start_dt} || '' 
					</if>
					<if test="arrive_dt != ''">
                      or substr(fsi_arrive_dt,1,10) = '' || #{arrive_dt} || ''
					</if>
				</trim>
		      ORDER BY fsi_start_dt ASC)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]> 
	</select>
	<select id="selectFlightRowCount" parameterType="map" resultType="integer">
		SELECT
		  COUNT(*)
		      FROM flight_info_vw
				<trim prefix="WHERE" prefixOverrides="AND |OR ">
					<if test="keyword != '' and keyfield == 'fi_nm'">
						fi_nm like '%' || #{keyword} || '%'
					</if>
					<if test="keyword != '' and keyfield == 'fsi_start_city'">
						fsi_start_city like '%' || #{keyword} || '%'
					</if>
					<if test="keyword != '' and keyfield == 'fsi_arrive_city'">
						fsi_arrive_city like '%' || #{keyword} || '%'
					</if>
					<if test="keyword != '' and keyfield == 'all'">
						fi_nm like '%' || #{keyword} || '%' or
						fsi_start_city like '%' || #{keyword} || '%' or
						fsi_arrive_city like '%' || #{keyword} || '%'
					</if>
				
					<if test="flight_s_nc != 'ALL'">
						FSI_START_PLACE = '' || #{flight_s_nc} || ''
					</if>
					<if test="flight_a_nc != 'ALL'">
                        AND FSI_ARRIVE_PLACE = '' || #{flight_a_nc} || ''
					</if>
					
					<if test="start_dt != ''">
                      AND substr(fsi_start_dt,1,10) = '' || #{start_dt} || '' 
					</if>
					<if test="arrive_dt != ''">
                      or substr(fsi_arrive_dt,1,10) = '' || #{arrive_dt} || ''
					</if>
				</trim>		
	</select>

	<select id="selectFlight" parameterType="string" resultType="flightCommand">
	
		     SELECT
				    fsi_idx,
				    fi_logo,
				    fi_nm,   
				    (SELECT nc_nation FROM nation_city WHERE nc_cd = fsi_start_place) AS fsi_start_nation,
				    (SELECT nc_city FROM nation_city WHERE nc_cd = fsi_start_place) AS fsi_start_city,
				    (SELECT nc_nation FROM nation_city WHERE nc_cd = fsi_start_place) AS fsi_arrive_nation,					    
				    (SELECT nc_city FROM nation_city WHERE nc_cd = fsi_arrive_place) AS fsi_arrive_city,
				    (SELECT nc_city FROM nation_city WHERE nc_cd = fsi_pass1_place) AS fsi_pass1_city,
				    fsi_start_dt,
				    fsi_arrive_dt,
				    fsi_pass1_dt,
				    fsi_fir_pc,
					fsi_bus_pc,
					fsi_eco_pc,
					fsi_fir_mil,
					fsi_bus_mil,
					fsi_eco_mil,
					fsi_flight_time
				FROM flight_spot_info fsi LEFT OUTER JOIN flight_info fi USING (fi_id)
			 	WHERE fsi.fsi_idx=#{fsi_idx}
	</select>

	<insert id="flightRsrv" parameterType="map" statementType="CALLABLE">
		{
			CALL SP_FLIGHT_RSRV(
				#{p_fsi_idx},
				#{p_user_id},
				#{p_rsrv_seat},
				#{p_fr_adult_pp},
				#{p_fr_kid_pp},
				#{p_fr_nm},
				#{p_fr_email},
				#{p_fr_phone},
				#{p_fr_passport},
				#{p_fr_age},
				#{p_fr_fnm},
				#{p_total_pc},
				#{p_num},
				#{p_pin_num},
				#{p_year},
				#{p_month}
			)
		}
	</insert>

</mapper>