<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.member.dao.MemberMapper">

	<select id="selectGuideList" parameterType="map"
		resultType="memberCommand">
		SELECT
		*
		FROM (SELECT
		a.*,
		rownum rnum
		FROM (SELECT
		*
		FROM user_auth m LEFT OUTER JOIN user_info d
		ON m.user_id = d.user_id
		<where>
			<if test="keyword != '' and keyfield == 'user_id'">
				m.user_id like '%' || #{keyword} || '%'
			</if>
			<if test="keyword != '' and keyfield == 'user_nm'">
				d.user_nm like '%' || #{keyword} || '%'
			</if>
			<if test="keyword != '' and keyfield == 'user_email'">
				d.user_email like '%' || #{keyword} || '%'
			</if>
			<if test="keyword != '' and keyfield == 'all'">
				m.user_id like '%' || #{keyword} || '%' or
				d.user_nm like '%' || #{keyword} || '%' or
				d.user_email like '%' || #{keyword} || '%'
			</if>
			and user_apply_dt is not null
		</where>
		ORDER BY d.user_id ASC)a)
		<![CDATA[
		WHERE rnum >= #{start} and rnum <= #{end} 
		]]>
	</select>

	<select id="selectGuideRowCount" parameterType="map"
		resultType="integer">
		SELECT
		COUNT(*)
		FROM user_auth m LEFT OUTER JOIN user_info d
		ON m.user_id = d.user_id
		<where>
			<if test="keyword != '' and keyfield == 'user_id'">
				m.user_id like '%' || #{keyword} || '%'
			</if>
			<if test="keyword != '' and keyfield == 'user_nm'">
				d.user_nm like '%' || #{keyword} || '%'
			</if>
			<if test="keyword != '' and keyfield == 'user_email'">
				d.user_email like '%' || #{keyword} || '%'
			</if>
			<if test="keyword != '' and keyfield == 'all'">
				m.user_id like '%' || #{keyword} || '%' or
				d.user_nm like '%' || #{keyword} || '%' or
				d.user_email like '%' || #{keyword} || '%'
			</if>
			and user_apply_dt is not null
		</where>
	</select>
	
	<select id="selectList" parameterType="map"
		resultType="memberCommand">
		SELECT
		*
		FROM (SELECT
		a.*,
		rownum rnum
		FROM (SELECT
		*
		FROM user_auth m LEFT OUTER JOIN user_info d
		ON m.user_id = d.user_id
		<where>
			<if test="keyword != '' and keyfield == 'user_id'">
				m.user_id like '%' || #{keyword} || '%'
			</if>
			<if test="keyword != '' and keyfield == 'user_nm'">
				d.user_nm like '%' || #{keyword} || '%'
			</if>
			<if test="keyword != '' and keyfield == 'user_email'">
				d.user_email like '%' || #{keyword} || '%'
			</if>
			<if test="keyword != '' and keyfield == 'all'">
				m.user_id like '%' || #{keyword} || '%' or
				d.user_nm like '%' || #{keyword} || '%' or
				d.user_email like '%' || #{keyword} || '%'
			</if>
		</where>
		ORDER BY d.user_id ASC)a)
		<![CDATA[
		WHERE rnum >= #{start} and rnum <= #{end} 
		]]>
	</select>

	<select id="selectRowCount" parameterType="map"
		resultType="integer">
		SELECT
		COUNT(*)
		FROM user_auth m LEFT OUTER JOIN user_info d
		ON m.user_id = d.user_id
		<where>
			<if test="keyword != '' and keyfield == 'user_id'">
				m.user_id like '%' || #{keyword} || '%'
			</if>
			<if test="keyword != '' and keyfield == 'user_nm'">
				d.user_nm like '%' || #{keyword} || '%'
			</if>
			<if test="keyword != '' and keyfield == 'user_email'">
				d.user_email like '%' || #{keyword} || '%'
			</if>
			<if test="keyword != '' and keyfield == 'all'">
				m.user_id like '%' || #{keyword} || '%' or
				d.user_nm like '%' || #{keyword} || '%' or
				d.user_email like '%' || #{keyword} || '%'
			</if>
		</where>
	</select>
	
	<!-- hotel list -->
	<select id="selectHotelList" parameterType="map"
		resultType="memberCommand">
		SELECT 
			ST_NM, SRL_CHECK_IN_DT, SRL_CHECK_OUT_DT, ST_ADDR, USER_ID, SRL_TOTAL_PC
		FROM
			STAYING_RSRV_LOG SRL 
		LEFT OUTER JOIN 
			STAYING_VW USING (SR_ID) 
		<where>
			<if test="keyword != '' and keyfield == 'user_id'">
				user_id like '%' || #{keyword} || '%'
			</if>
		</where>
		ORDER BY srl_check_in_dt DESC
	</select>
	
	<!-- flight list -->
	<select id="selectFlightList" parameterType="map"
		resultType="memberCommand">
		SELECT 
			FSI_START_NATION, FSI_START_CITY, FSI_PASS1_NATION, 
			FSI_PASS1_CITY, FSI_PASS2_NATION, FSI_PASS2_CITY, 
			FSI_ARRIVE_NATION, FSI_ARRIVE_CITY, FSI_START_DT, 
			FSI_ARRIVE_DT, FR_RSRV_SEAT_TYPE, FI_NM, FR_TOTAL_PC
		FROM 
			FLIGHT_RSRV_LOG FRL 
		LEFT OUTER JOIN 
			FLIGHT_INFO_VW USING (FSI_IDX) 
		<where>
			<if test="keyword != '' and keyfield == 'user_id'">
				user_id like '%' || #{keyword} || '%'
			</if>
		</where>
		ORDER BY fsi_start_dt DESC
	</select>

</mapper>